<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
        matchAll="true"/>
    <serverUrl url="http://www.baidu.com"
        matchAll="true"/>
  </serverUrls>
</ProxyConfig>
