<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studio.tensor.ldm.dao.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.studio.tensor.ldm.pojo.FileInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="belong_user_id" jdbcType="INTEGER" property="belongUserId" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_url, belong_user_id, tag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectFileInfoByUserId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_info
    where belong_user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserIdAndTag" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_info
    where belong_user_id = #{userId,jdbcType=INTEGER}
      and tag = #{tag,jdbcType=VARCHAR}
  </select>
  
  <select id="selectTagByUserId" resultType="java.lang.String">
    select DISTINCT tag
    from file_info
    where belong_user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.studio.tensor.ldm.pojo.FileInfo">
    insert into file_info (id, file_url, belong_user_id, 
      tag)
    values (#{id,jdbcType=INTEGER}, #{fileUrl,jdbcType=VARCHAR}, #{belongUserId,jdbcType=INTEGER}, 
      #{tag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.studio.tensor.ldm.pojo.FileInfo">
    insert into file_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="belongUserId != null">
        belong_user_id,
      </if>
      <if test="tag != null">
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="belongUserId != null">
        #{belongUserId,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.studio.tensor.ldm.pojo.FileInfo">
    update file_info
    <set>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="belongUserId != null">
        belong_user_id = #{belongUserId,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.studio.tensor.ldm.pojo.FileInfo">
    update file_info
    set file_url = #{fileUrl,jdbcType=VARCHAR},
      belong_user_id = #{belongUserId,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>