<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studio.tensor.ldm.dao.UserStatusMapper">
  <resultMap id="BaseResultMap" type="com.studio.tensor.ldm.pojo.UserStatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="status_json" jdbcType="VARCHAR" property="statusJson" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, status_json
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectUserIdNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select COUNT(*)
    from user_status
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectUserStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_status
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.studio.tensor.ldm.pojo.UserStatus">
    insert into user_status (id, user_id, status_json
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{statusJson,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.studio.tensor.ldm.pojo.UserStatus">
    insert into user_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="statusJson != null">
        status_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="statusJson != null">
        #{statusJson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.studio.tensor.ldm.pojo.UserStatus">
    update user_status
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="statusJson != null">
        status_json = #{statusJson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.studio.tensor.ldm.pojo.UserStatus">
    update user_status
    set user_id = #{userId,jdbcType=INTEGER},
      status_json = #{statusJson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByUserId">
    update user_status
    set
      status_json = #{statusJson,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>